In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Extract

In [3]:
area_raw_df = pd.read_csv('./DATA/FAOSTAT_area.csv')
price_raw_df = pd.read_csv('./DATA/FAOSTAT_prices_apple.csv')
yield_raw_df = pd.read_csv('./DATA/FAOSTAT_yield_per_area.csv') #yield per area
total_yield_raw_df = pd.read_csv('./DATA/FAOSTAT_yield_total.csv')
price_raw_df.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Months Code,Months,Unit,Value,Flag,Flag Description
0,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),515,Apples,1993,1993,7021,Annual value,USD,461.0,NaN,Official data
1,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),515,Apples,1995,1995,7021,Annual value,USD,323.6,NaN,Official data
2,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),515,Apples,1996,1996,7021,Annual value,USD,325.4,NaN,Official data
3,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),515,Apples,1997,1997,7021,Annual value,USD,253.1,NaN,Official data
4,PP,Producer Prices,3,Albania,5532,Producer Price (USD/tonne),515,Apples,1998,1998,7021,Annual value,USD,248.9,NaN,Official data

Transform

In [4]:
area_df = area_raw_df[['Area', 'Year', 'Value']] #(2704, 3)
area_df.columns = area_df.columns.str.replace('Value', 'Area_ha') #Total area under the crop in the country
area_df.columns = area_df.columns.str.replace('Area', 'Country')

price_df = price_raw_df[['Area', 'Year', 'Value']] #(1883, 3)
price_df.columns = price_df.columns.str.replace('Value', 'Price_USD_tonne') #Producer price USD/tonne
price_df.columns = price_df.columns.str.replace('Area', 'Country')
area_df.shape

yield_df = yield_raw_df[['Area', 'Year', 'Value']] #(2679, 3)
yield_df.columns = yield_df.columns.str.replace('Value', 'Yield_hg_ha') #Yield per area hg/ha
yield_df.columns = yield_df.columns.str.replace('Area', 'Country')

c = total_yield_raw_df[['Area', 'Year', 'Value']] #(2733, 3)
total_yield_df.columns = total_yield_df.columns.str.replace('Value', 'TotalYield_tonnes') #Total annual yield in tonnes
total_yield_df.columns = total_yield_df.columns.str.replace('Area', 'Country')
total_yield_df.shape

(2733, 3)

Data warehousing

In [6]:
df = area_df.merge(price_df, on=['Country','Year'], how='left')
df = df.merge(yield_df, on=['Country','Year'], how='left')
df = df.merge(total_yield_df, on=['Country','Year'], how='left')
df.head()

,Country,Year,Country_ha,Price_USD_tonne,Yield_hg_ha,TotalYield_tonnes
0,Afghanistan,1991,2346.0,NaN,74625.0,17507.0
1,Afghanistan,1992,2308.0,NaN,74523.0,17200.0
2,Afghanistan,1993,2300.0,NaN,73913.0,17000.0
3,Afghanistan,1994,2350.0,NaN,74468.0,17500.0
4,Afghanistan,1995,2631.0,NaN,74759.0,19669.0